[package]
name = "lle"
version = "2.3.1"
edition = "2021"
readme = "readme.md"
license-file = "licence"
repository = "https://github.com/yamoling/lle"
homepage = "https://github.com/yamoling/lle"
description = "Cooperative MARL environment based on laser-blocking."
keywords = ["marl", "rl", "lle", "laser", "environment"]
categories = ["science"]

exclude = ["python/*", "uv.lock", "stubcheck.sh", "pyproject.toml", "docs"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "lle"
path = "src/lib.rs"
crate-type = ["cdylib", "rlib"]

[[bin]]
name = "stub-gen"
path = "src/stub_gen.rs"

[dependencies]
image = "0.25.5"
itertools = "0.14.0"
lazy_static = "1.5.0"
numpy = "0.23.0"
pyo3 = "0.23.3"
# pyo3-stub-gen = { path = "/home/yann/projects/rust/pyo3-stub-gen/pyo3-stub-gen" }
# pyo3-stub-gen-derive = { path = "/home/yann/projects/rust/pyo3-stub-gen/pyo3-stub-gen-derive" }
pyo3-stub-gen = { git = "https://github.com/yamoling/pyo3-stub-gen/", rev = "5fd712bcace754e75caceacfb3eecfda5c6c18dd", version = "0.6.1" }
rand = "0.9.0"
serde = "1.0.217"
toml = "0.8.20"
