[package]
name = "lle"
version = "0.1.10"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "lle"
# Enabling crate-type=["cdylib"] (default in maturin) prevents integration tests from importing lle
# crate-type = ["cdylib"] 

[dependencies]
image = "0.24"
itertools = "0.12.0"
lazy_static = "1.4.0"
numpy = "0.20"
pyo3 = "0.20"

[build-dependencies]
toml = "0.8.1"
